In [5]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [7]:
df.shape

(1030, 9)

In [8]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [9]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [18]:
columns = df.columns
target = df['Strength']
predictors = df[columns[:-1]]

In [19]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [20]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [21]:
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [24]:
n_cols = predictors_norm.shape[1]

In [26]:
import keras

from keras.models import Sequential
from keras.layers import Dense

In [28]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [29]:
model = regression_model()

W0000 00:00:1730545326.158628   28811 gpu_device.cc:2344] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [30]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 1s - 30ms/step - loss: 1651.9785 - val_loss: 1136.5009
Epoch 2/100
23/23 - 0s - 2ms/step - loss: 1522.8811 - val_loss: 1002.8455
Epoch 3/100
23/23 - 0s - 2ms/step - loss: 1320.2804 - val_loss: 806.0571
Epoch 4/100
23/23 - 0s - 2ms/step - loss: 1021.5260 - val_loss: 567.3692
Epoch 5/100
23/23 - 0s - 2ms/step - loss: 669.4537 - val_loss: 344.8330
Epoch 6/100
23/23 - 0s - 2ms/step - loss: 394.3476 - val_loss: 205.3957
Epoch 7/100
23/23 - 0s - 2ms/step - loss: 269.6160 - val_loss: 170.3285
Epoch 8/100
23/23 - 0s - 2ms/step - loss: 237.2509 - val_loss: 162.2405
Epoch 9/100
23/23 - 0s - 2ms/step - loss: 220.4614 - val_loss: 162.5277
Epoch 10/100
23/23 - 0s - 2ms/step - loss: 207.6113 - val_loss: 158.0495
Epoch 11/100
23/23 - 0s - 2ms/step - loss: 197.4264 - val_loss: 159.8918
Epoch 12/100
23/23 - 0s - 2ms/step - loss: 188.7790 - val_loss: 156.3347
Epoch 13/100
23/23 - 0s - 2ms/step - loss: 181.4425 - val_loss: 154.7824
Epoch 14/100
23/23 - 0s - 2ms/step - loss: 175.8891 - val_loss: 155.7318
Epoch 15/100
23/23 - 0s - 2ms/step - loss: 169.9786 - val_loss: 155.1014
Epoch 16/100
23/23 - 0s - 3ms/step - loss: 165.7644 - val_loss: 156.9394
Epoch 17/100
23/23 - 0s - 2ms/step - loss: 162.2422 - val_loss: 155.6734
Epoch 18/100
23/23 - 0s - 2ms/step - loss: 158.5242 - val_loss: 156.1896
Epoch 19/100
23/23 - 0s - 2ms/step - loss: 155.8820 - val_loss: 158.1912
Epoch 20/100
23/23 - 0s - 2ms/step - loss: 153.6922 - val_loss: 158.5462
Epoch 21/100
23/23 - 0s - 2ms/step - loss: 150.9284 - val_loss: 159.6076
Epoch 22/100
23/23 - 0s - 2ms/step - loss: 148.6182 - val_loss: 160.7729
Epoch 23/100
23/23 - 0s - 2ms/step - loss: 146.6974 - val_loss: 160.2378
Epoch 24/100
23/23 - 0s - 2ms/step - loss: 144.7675 - val_loss: 161.9758
Epoch 25/100
23/23 - 0s - 2ms/step - loss: 143.0140 - val_loss: 160.5856
Epoch 26/100
23/23 - 0s - 2ms/step - loss: 141.0542 - val_loss: 163.3163
Epoch 27/100
23/23 - 0s - 2ms/step - loss: 139.3385 - val_loss: 163.2430
Epoch 28/100
23/23 - 0s - 2ms/step - loss: 137.5729 - val_loss: 165.1339
Epoch 29/100
23/23 - 0s - 2ms/step - loss: 135.9394 - val_loss: 165.8780
Epoch 30/100
23/23 - 0s - 2ms/step - loss: 134.4282 - val_loss: 165.5566
Epoch 31/100
23/23 - 0s - 2ms/step - loss: 132.9796 - val_loss: 167.3533
Epoch 32/100
23/23 - 0s - 2ms/step - loss: 131.8282 - val_loss: 164.6139
Epoch 33/100
23/23 - 0s - 2ms/step - loss: 130.0197 - val_loss: 165.1741
Epoch 34/100
23/23 - 0s - 2ms/step - loss: 129.2083 - val_loss: 165.0338
Epoch 35/100
23/23 - 0s - 2ms/step - loss: 127.0900 - val_loss: 166.2153
Epoch 36/100
23/23 - 0s - 2ms/step - loss: 125.7243 - val_loss: 166.9046
Epoch 37/100
23/23 - 0s - 2ms/step - loss: 123.7361 - val_loss: 165.7795
Epoch 38/100
23/23 - 0s - 2ms/step - loss: 122.5000 - val_loss: 164.4996
Epoch 39/100
23/23 - 0s - 2ms/step - loss: 121.2485 - val_loss: 163.9515
Epoch 40/100
23/23 - 0s - 2ms/step - loss: 118.2946 - val_loss: 166.1763
Epoch 41/100
23/23 - 0s - 2ms/step - loss: 116.8448 - val_loss: 165.2282
Epoch 42/100
23/23 - 0s - 2ms/step - loss: 114.1485 - val_loss: 163.0880
Epoch 43/100
23/23 - 0s - 2ms/step - loss: 111.6214 - val_loss: 163.7801
Epoch 44/100
23/23 - 0s - 2ms/step - loss: 110.1309 - val_loss: 163.5293
Epoch 45/100
23/23 - 0s - 2ms/step - loss: 107.6274 - val_loss: 159.2893
Epoch 46/100
23/23 - 0s - 2ms/step - loss: 104.8347 - val_loss: 157.0132
Epoch 47/100
23/23 - 0s - 2ms/step - loss: 102.3557 - val_loss: 159.1403
Epoch 48/100
23/23 - 0s - 2ms/step - loss: 99.6867 - val_loss: 155.5365
Epoch 49/100
23/23 - 0s - 2ms/step - loss: 96.8948 - val_loss: 150.4117
Epoch 50/100
23/23 - 0s - 2ms/step - loss: 94.3099 - val_loss: 155.3495
Epoch 51/100
23/23 - 0s - 2ms/step - loss: 90.9201 - val_loss: 151.3075
Epoch 52/100
23/23 - 0s - 2ms/step - loss: 88.5173 - val_loss: 148.8688
Epoch 53/100
23/23 - 0s - 2ms/step - loss: 85.3830 - val_loss: 145.0414
Epoch 54/100
23/23 - 0s - 2ms/step - loss: 82.8247 - val_loss: 141.8548
Epoch 55/100
23/23 - 0s - 2ms/step - loss: 80.1597 - val_loss: 143.9744
Epoch 56/100
23/23 - 0s - 2ms/step - loss: 76.2925 - val_loss: 140.7686
Epoch 57/100
23/23 - 0s - 2ms/step - loss: 74.2773 - val_loss: 139.2760
Epoch 58/100
23/23 - 0s - 2ms/step - loss: 71.5087 - val_loss: 141.7162
Epoch 59/100
23/23 - 0s - 2ms/step - loss: 69.1276 - val_loss: 140.3813
Epoch 60/100
23/23 - 0s - 2ms/step - loss: 67.5725 - val_loss: 131.1848
Epoch 61/100
23/23 - 0s - 2ms/step - loss: 65.7377 - val_loss: 132.8387
Epoch 62/100
23/23 - 0s - 2ms/step - loss: 62.7668 - val_loss: 136.3862
Epoch 63/100
23/23 - 0s - 2ms/step - loss: 61.1675 - val_loss: 129.9556
Epoch 64/100
23/23 - 0s - 2ms/step - loss: 59.0658 - val_loss: 135.3998
Epoch 65/100
23/23 - 0s - 2ms/step - loss: 57.9595 - val_loss: 138.1117
Epoch 66/100
23/23 - 0s - 2ms/step - loss: 56.5725 - val_loss: 126.1250
Epoch 67/100
23/23 - 0s - 2ms/step - loss: 55.2130 - val_loss: 124.9035
Epoch 68/100
23/23 - 0s - 2ms/step - loss: 54.4613 - val_loss: 130.5197
Epoch 69/100
23/23 - 0s - 2ms/step - loss: 52.5429 - val_loss: 126.8329
Epoch 70/100
23/23 - 0s - 2ms/step - loss: 51.8411 - val_loss: 134.7656
Epoch 71/100
23/23 - 0s - 2ms/step - loss: 51.4722 - val_loss: 133.4454
Epoch 72/100
23/23 - 0s - 2ms/step - loss: 50.2829 - val_loss: 125.5467
Epoch 73/100
23/23 - 0s - 2ms/step - loss: 48.8153 - val_loss: 127.6945
Epoch 74/100
23/23 - 0s - 2ms/step - loss: 48.1918 - val_loss: 129.7968
Epoch 75/100
23/23 - 0s - 2ms/step - loss: 47.5535 - val_loss: 130.3239
Epoch 76/100
23/23 - 0s - 2ms/step - loss: 46.2134 - val_loss: 124.6791
Epoch 77/100
23/23 - 0s - 2ms/step - loss: 45.5999 - val_loss: 131.8831
Epoch 78/100
23/23 - 0s - 2ms/step - loss: 44.4322 - val_loss: 128.4654
Epoch 79/100
23/23 - 0s - 2ms/step - loss: 44.2410 - val_loss: 130.5736
Epoch 80/100
23/23 - 0s - 2ms/step - loss: 43.2256 - val_loss: 124.8437
Epoch 81/100
23/23 - 0s - 2ms/step - loss: 42.2138 - val_loss: 127.1808
Epoch 82/100
23/23 - 0s - 2ms/step - loss: 41.7855 - val_loss: 133.6729
Epoch 83/100
23/23 - 0s - 2ms/step - loss: 41.2015 - val_loss: 126.8799
Epoch 84/100
23/23 - 0s - 2ms/step - loss: 40.5994 - val_loss: 130.6751
Epoch 85/100
23/23 - 0s - 2ms/step - loss: 40.2336 - val_loss: 141.3995
Epoch 86/100
23/23 - 0s - 2ms/step - loss: 39.4641 - val_loss: 125.6787
Epoch 87/100
23/23 - 0s - 3ms/step - loss: 39.4811 - val_loss: 128.0851
Epoch 88/100
23/23 - 0s - 2ms/step - loss: 38.5522 - val_loss: 136.6215
Epoch 89/100
23/23 - 0s - 2ms/step - loss: 37.9234 - val_loss: 134.2756
Epoch 90/100
23/23 - 0s - 2ms/step - loss: 37.3833 - val_loss: 130.9632
Epoch 91/100
23/23 - 0s - 4ms/step - loss: 37.3186 - val_loss: 135.9606
Epoch 92/100
23/23 - 0s - 2ms/step - loss: 37.0276 - val_loss: 141.3595
Epoch 93/100
23/23 - 0s - 2ms/step - loss: 35.9785 - val_loss: 136.7751
Epoch 94/100
23/23 - 0s - 4ms/step - loss: 35.6374 - val_loss: 139.0006
Epoch 95/100
23/23 - 0s - 2ms/step - loss: 35.2596 - val_loss: 138.9254
Epoch 96/100
23/23 - 0s - 2ms/step - loss: 35.1558 - val_loss: 137.5605
Epoch 97/100
23/23 - 0s - 2ms/step - loss: 34.4771 - val_loss: 141.8169
Epoch 98/100
23/23 - 0s - 2ms/step - loss: 34.8294 - val_loss: 136.7257
Epoch 99/100
23/23 - 0s - 2ms/step - loss: 34.0984 - val_loss: 140.2427
Epoch 100/100
23/23 - 0s - 2ms/step - loss: 33.3938 - val_loss: 138.1403